<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
</head>

<body>

        <div class="container">

            <div class="form" >

                <div class="registro">
                        <h1>¡Bienvenid@, registrate!</h1>
                    </div>
                    <form class="register" action="" method="POST" enctype="multipart/form-data" id="form">
                            <p>Nombre</p>
                            <input type="text" name="name" id="name" placeholder="Nombre" >
                        </div>
                        <div class="apellido">
                            <p>Apellido?</p>
                            <input type="text" name="lastName" id="lastName" placeholder="Apellido">
                        </div>

                        <div class="email">
                            <p class="email">Correo electronico?</p>
                            <input type="email" name="email" id="email" placeholder="Correo Electrónico">


                    </form>
                </div>
            </div>
        </div>

</body>

</html>